* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: #0066cd;
  height: 408px;
}

.left-design-element {
  position: absolute;
  top: -100px;
  left: -230px;
  width: 479px;
  height: 375px;
  z-index: 0;
}

.right-design-element {
  position: absolute;
  right: -200px;
  width: 479px;
  height: 375px;
  z-index: 0;
}

.animation-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 90%;
}

.main-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42%;
  height: 100vh;
  z-index: 1;
}

.main-image-wrapper {
  clip-path: polygon(30% 30%, 70% 30%, 70% 70%, 30% 70%);
  opacity: 0;
}

.main-image-wrapper img {
  max-width: 230px;
  max-height: 160px;
  z-index: 1;
}

.first-step-image-wrapper {
  opacity: 0;
}

.first-step-image-wrapper img {
  max-width: 59px;
  max-height: 49px;
}

.add-text-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 16%;
  height: 100vh;
}

.add-text-image-wrapper {
  clip-path: polygon(30% 30%, 70% 30%, 70% 70%, 30% 70%);
  opacity: 0;
}

.add-text-image-wrapper img {
  max-width: 200px;
  max-height: 97px;
}

.second-step-image-wrapper {
  opacity: 0;
}

.second-step-image-wrapper img {
  max-width: 59px;
  max-height: 49px;
}

.templates-container {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 42%;
  height: 100vh;
}

.template-images-wrapper {
  position: relative;
  width: 60%;
  height: 80vh;
  z-index: 1;
}

.template1-wrapper {
  position: absolute;
  right: 10%;
  top: 40%;
  opacity: 0;
}

.template1-wrapper img {
  max-width: 100px;
  max-height: 100px;
}

.template2-wrapper {
  position: absolute;
  right: 30%;
  top: 53%;
  opacity: 0;
}

.template2-wrapper img {
  max-width: 131px;
  max-height: 130px;
}

.template3-wrapper {
  position: absolute;
  right: 20%;
  top: 22%;
  opacity: 0;
}

.template3-wrapper img {
  max-width: 131px;
  max-height: 130px;
}

.template4-wrapper {
  position: absolute;
  right: 40%;
  top: 20%;
  opacity: 0;
}

.template4-wrapper img {
  max-width: 131px;
  max-height: 130px;
}

.template5-wrapper {
  position: absolute;
  right: 56%;
  top: 23%;
  bottom: 60.27%;
  opacity: 0;
}

.template5-wrapper img {
  max-width: 131px;
  max-height: 130px;
}

.template6-wrapper {
  position: absolute;
  right: 60%;
  top: 50%;
  opacity: 0;
}

.template6-wrapper img {
  max-width: 131px;
  max-height: 130px;
}

.template7-wrapper {
  position: absolute;
  right: 63%;
  top: 33.32%;
  opacity: 0;
}

.template7-wrapper img {
  max-width: 131px;
  max-height: 130px;
}

.template8-wrapper {
  position: absolute;
  right: 20%;
  top: 29%;
  opacity: 0;
}

.template8-wrapper img {
  max-width: 131px;
  max-height: 130px;
}

.template9-wrapper {
  position: absolute;
  right: 40%;
  top: 44%;
  opacity: 0;
}

.template9-wrapper img {
  max-width: 131px;
  max-height: 130px;
}

.template10-wrapper {
  position: absolute;
  right: 16%;
  top: 49%;
  opacity: 0;
}

.template10-wrapper img {
  max-width: 131px;
  max-height: 130px;
}
